<Controls>
  <Player0>
    <Keyboard_DartThrow_Circle>Alpha1</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>Alpha2</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>A</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>J</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>Space</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>M</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>R</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>O</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>X</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>Z</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player0>
  <Player1>
    <Keyboard_DartThrow_Circle>None</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>None</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>None</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>None</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>None</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>None</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>None</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>None</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>None</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>None</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player1>
  <Player2>
    <Keyboard_DartThrow_Circle>None</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>None</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>None</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>None</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>None</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>None</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>None</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>None</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>None</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>None</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player2>
  <Player3>
    <Keyboard_DartThrow_Circle>None</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>None</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>None</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>None</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>None</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>None</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>None</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>None</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>None</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>None</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player3>
  <Player4>
    <Keyboard_DartThrow_Circle>None</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>None</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>None</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>None</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>None</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>None</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>None</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>None</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>None</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>None</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player4>
  <Player5>
    <Keyboard_DartThrow_Circle>None</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>None</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>None</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>None</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>None</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>None</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>None</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>None</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>None</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>None</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player5>
  <Player6>
    <Keyboard_DartThrow_Circle>None</Keyboard_DartThrow_Circle>
    <Keyboard_DartThrow_Rect>None</Keyboard_DartThrow_Rect>
    <Keyboard_DartThrow_Repulse>None</Keyboard_DartThrow_Repulse>
    <Keyboard_DartThrow_Jittered>None</Keyboard_DartThrow_Jittered>
    <Keyboard_DartThrow_ShowObjects>None</Keyboard_DartThrow_ShowObjects>
    <Keyboard_Vst_Calculate>None</Keyboard_Vst_Calculate>
    <Keyboard_Vst_Randomized>None</Keyboard_Vst_Randomized>
    <Keyboard_Vst_Ordered>None</Keyboard_Vst_Ordered>
    <Keyboard_Rasterize_Rasterize>None</Keyboard_Rasterize_Rasterize>
    <Keyboard_Rasterize_GenMesh>None</Keyboard_Rasterize_GenMesh>
    <Gamepad_DartThrow_Circle>
    </Gamepad_DartThrow_Circle>
    <Gamepad_DartThrow_Rect>
    </Gamepad_DartThrow_Rect>
    <Gamepad_DartThrow_Repulse>
    </Gamepad_DartThrow_Repulse>
    <Gamepad_DartThrow_Jittered>
    </Gamepad_DartThrow_Jittered>
    <Gamepad_DartThrow_ShowObjects>
    </Gamepad_DartThrow_ShowObjects>
    <Gamepad_Vst_Calculate>
    </Gamepad_Vst_Calculate>
    <Gamepad_Vst_Randomized>
    </Gamepad_Vst_Randomized>
    <Gamepad_Vst_Ordered>
    </Gamepad_Vst_Ordered>
    <Gamepad_Rasterize_Rasterize>
    </Gamepad_Rasterize_Rasterize>
    <Gamepad_Rasterize_GenMesh>
    </Gamepad_Rasterize_GenMesh>
  </Player6>
</Controls>